<ion-view view-title="Playlists">
  <ion-content>
    <td-cards>
      <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index)">
        <div class="image">
           <div class="no-text">NOPE</div>
           <img ng-src="{{card.image}}">
           <div class="yes-text">LIKE</div>
         </div>
      </td-card>
    </td-cards>
    <!-- <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list> -->
  </ion-content>
</ion-view>
